<div class="container">
  <h1>Add Restaurant</h1>
  <%= render 'restaurants/form', class: 'mb-3' %>
  <%= link_to 'Back to Restaurants', restaurants_path, class: 'btn btn-secondary text-white text-decoration-none px-3 py-1 mt-3' %>
</div>
